.cproject
.project
.settings
.directory
Makefile.in
Makefile
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
dali.node
dali.doxy
install_manifest.txt
libdali2-toolkit.so*
*~
*.o
*.o.d
*.pc
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
build/tizen/CMakeDoxyfile.in
build/tizen/CMakeDoxygenDefaults.cmake
/build/desktop
/packaging/home*
.vscode/
core
