# Common gitignore
.cproject
.project
.settings
.directory
Makefile.in
Makefile
BROWSE
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
*~
*.pc
*.o
*.o.d
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
*.creator
*.creator.user
/docs/generated/*
/build/tizen/doc
/build/tizen/.cov
/build/desktop
/packaging/home*
compile_commands.json
.clangd
/debugfiles.list
/debuglinks.list
/debugsources.list
.clangd/
*.vscode/
*.cache/
# dali-toolkit only
.idea/
dali.node
dali.doxy
libdali2-toolkit.so*
build/tizen/CMakeDoxyfile.in
build/tizen/CMakeDoxygenDefaults.cmake
.vscode/
core
dali-toolkit/internal/graphics/generated/*
dali-toolkit/internal/graphics/builtin-shader-extern-gen.h
dali-scene3d/internal/graphics/generated/*
dali-scene3d/internal/graphics/builtin-shader-extern-gen.h
