.cproject
.project
.settings
.directory
Makefile.in
Makefile
*~
*.o
*.o.d
*.pc
*.lo
*.loT
*.la
*.so
*.orig
*.odt
*.fodt
*.test
*.example
*.a
*.apk
*.ap_
*.class
*.classpath
*.dex
*.gcno
*.gcda
*.gcov
.deps
.libs
*.swp
/docs/generated/*
/build/slp/doc
/build/slp/.cov
/build/desktop
/debian/build-stamp
/debian/config.status
/debian/libdali-toolkit-dbg.debhelper.log
/debian/libdali-toolkit-dbg
/debian/libdali-toolkit-dev.debhelper.log
/debian/libdali-toolkit-dev
/debian/libdali-toolkit.debhelper.log
/debian/libdali-toolkit.postinst.debhelper
/debian/libdali-toolkit.postrm.debhelper
/debian/libdali-toolkit.substvars
/debian/libdali-toolkit
/debian/tmp
/debian/files
/debian/libdali-toolkit-dbg.substvars
/debian/libdali-toolkit-dev.substvars
/debian/libdali-nsplugin.debhelper.log
/debian/libdali-nsplugin.postinst.debhelper
/debian/libdali-nsplugin.postrm.debhelper
/debian/libdali-nsplugin.substvars
/debian/libdali-nsplugin
/packaging/home*
